<!--
 * @Author: tim
 * @Date: 2020-04-14 17:13:19
 * @LastEditors: tim
 * @LastEditTime: 2020-05-11 17:54:17
 * @Description: https://liyang0207.github.io/2018/06/03/VUE双向数据绑定原理及简单实现/
 * https://www.jianshu.com/p/f194619f6f26
 * https://www.jianshu.com/p/2df6dcddb0d7
 * https://www.cnblogs.com/zhangym118/p/8717999.html
 * https://www.jianshu.com/p/1032ecd62b3a
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vue原理简单实现</title>
  <script src="js/dependency.js"></script>
  <script src="js/observer.js"></script>
  <script src="js/watcher.js"></script>
  <script src="js/complier.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <div id="app">
    <span v-text="message"></span>
    <input type="text" v-model="message" />
    {{message}} 123123  
    <p></p>
    title:<input type="text" v-model="title" /> {{title}} </br>   
    <span v-text="group.name">ddd</span>
    <input type="text" v-model="group.name" />
  </div>
  
  <script>
    let vm = new MVVM({
      el: '#app',
      data: {
        title: 'MVVM',
        message: 'hello Vue!',
        group: {
          name: 'abc'
        }
      }
    })
  </script>
</body>
</html>